[package]
name = "pxls-rs"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0.127"
serde_json = "1.0"
serde_qs = { version = "0.8.0", features = ["actix"] }
lazy_static = "1.4.0"
futures-util = "0.3.16"
actix = "0.10.0"
actix-web = "3.3.2"
actix-web-actors = "3.0.0"