[package]
name = "pxls-rs"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.1.0"
serde = { version = "1.0.127", features = ["derive", "rc"] }
serde_json = "1.0"
reqwest = { version = "0.11.6", features = ["json"] }
lazy_static = "1.4.0"
futures-util = "0.3.16"
tokio = { version = "1", features = ["full"] }
warp = { version = "0.3.2", features = ["compression"] }
ouroboros = "0.14.0"
r2d2 = "0.8.9"
http = "0.2.4"
http-serde = "1.0.3"
num-traits = "0.2"
num-derive = "0.3"
envy = "0.4"
url = { version = "2.0", features = ["serde"] }
diesel = { version = "1.4.8", features = ["postgres", "r2d2", "serde_json"] }
diesel_migrations = "1.4.0"
mime = "0.3.16"
parking_lot = "0.11.2"
enum-map = "1.1.1"
jsonwebtoken = "7.2.0"
jsonwebkey = { version = "0.3.4", features = ["jwt-convert"] }
rand = "0.8.4"
fragile = "1.0.0"