[package]
name = "pxls-rs"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.127", features = ["rc"] }
serde_json = "1.0"
serde_qs = { version = "0.8.0", features = ["actix"] }
lazy_static = "1.4.0"
futures-util = "0.3.16"
actix = "0.10.0"
actix-web = "3.3.2"
actix-cors = "0.5.4"
actix-web-actors = "3.0.0"
r2d2 = "0.8.9"
r2d2_sqlite = "0.18.0"
rusqlite = "0.25.3"
http = "0.2.4"
http-serde = "1.0.3"
num-traits = "0.2"
num-derive = "0.3"