[package]
name = "pxls-rs"
version = "0.1.0"
edition = "2021"

[profile.release]
lto = true

[dependencies]
bytes = "1.4.0"
serde = { version = "1.0.163", features = ["derive", "rc"] }
serde_json = "1.0"
serde_qs = { version = "0.12.0", features = ["warp"] }
serde_with = "3.0.0"
reqwest = { version = "0.11.18", features = ["json"] }
lazy_static = "1.4.0"
futures-util = "0.3.28"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1.14"
warp = { version = "0.3.5", features = ["compression"] }
ouroboros = "0.15.6"
r2d2 = "0.8.10"
http = "0.2.9"
http-serde = "1.1.2"
num-traits = "0.2"
num-derive = "0.3"
envy = "0.4"
url = { version = "2.3", features = ["serde"] }
mime = "0.3.17"
parking_lot = { version = "0.12.1", features = ["send_guard"] }
enum-map = "2.5.0"
enumset = { version = "1.1.2", features = ["serde"] }
jsonwebtoken = "8.3.0"
jsonwebkey = { version = "0.3.5", features = ["jwt-convert"] }
rand = "0.8.5"
fragile = "2.0.0"
async-trait = "0.1.68"
tokio-util = "0.7.8"
uuid = { version = "1.3.3", features = ["v4"] }
sea-orm = { version = "0.12.2", features = ["sqlx-postgres", "runtime-tokio"] }
sea-orm-migration = { version = "0.12.2", features = ["sqlx-postgres", "runtime-tokio-rustls"] }
